
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    </style>
  </head>
  {% block content %}

  <body style="background: rgb(14,62,218);
  background: linear-gradient(90deg, rgba(14,62,218,1) 8%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 68%, rgba(14,62,218,1) 92%);
">


    <h1 style="color:black;line-height:80px;">Hey <span style="color:green;">{{ name }}</span>! <br> Your response has been recorded. Soon you'll get a reply from Jai. <br> Thanks for visiting my site :)</h1>
    {% endblock %}
  </body>
</html>
