<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jai's Workout Routine</title>
  </head>
  <body>

      <h1>Workouts</h1>
      <ol>
        <li>Plank for 1 min</li>
        <li>Starting of ABS Workout</li>
        <ul>
          <li>Upper Twist(Feet Off crunches)</li>
          <li>Bicycle crunches</li>
          <li>Leg rises</li>
          <li>Leg Kicks(Flutter Kicks)</li>
          <li>Mountain Climbers</li>
        </ul>
        <li>Tuning</li>
        <ul>
          <li>Hip Thurst With Leg rises</li>
          <li>Hip Thrust Positioning for 30 secs</li>
          <li>Donkey Kicks(Left and Right)</li>
        </ul>
        <li>Full Body Weight</li>
        <ul>
          <li>High Knees</li>
          <li>Low to High Plank</li>
          <li>Half Burpees</li>
          <li>Toe Touches</li>
          <li>Squat jumps</li>
          <li>Slide Plank</li>
          <li>Alternate lunges</li>
          <li>Jumping Jacks</li>
          <li>Hip Thrust</li>
          <li>Butt Kicks</li>
        </ul>
      </ol>
  </body>
</html>
